/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');


/*General styling*/

body {
    background: white;
    font-family: 'khula';
    margin: 0;}

/*Navigation */

.main-nav {
    background-color: rgba(0, 0, 0, 0.90);
    font-size: 16px;
    text-align: right;
    position: fixed;
    width: 100%;}


.nav-link {
    text-decoration: none;
    box-sizing: border-box;
    line-height: 38px;
    font-size: 20px;
    font-family: 'khula';
    color: white;
    padding: 10px 20px;
    margin: 10px 5px;
    display: inline-block;}


.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.90);
    color: #e7bc71;}
    
.logo {
    float: left;
    margin-right: 200px;
    color: rgba(255, 255, 255, 0);
    padding: 84px 250px 0px 0px;
    background-image: url('images/jitter-cup-logo.png');
    background-size: 250px 84px;
    background-repeat: no-repeat;
    transition: all 0.2s ease;}

/*Hero Card*/

.hero {
    color: #fffff;
    background-image: url('images/home_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    text-align: center;
    color: white;}
    
.hero-2 {
  color: #fffff;
    background-image: url('images/coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    text-align: center;
    color: white;}


.hero-h1 {
    margin: 0;
    padding-top: 100px;}

/*Main Content*/

.main-content {
    text-align: center;}

.banner-one {
    background-color: #fffff;
    background-image: url("images/home_photo_b.png");
    background-repeat: no-repeat;
    background-size: 1280px;
    background-position: center center;
    min-height: 900px;
    text-align: center;
    color: white;
    margin:0;}
    
.banner-two {
    background-color: #ffffff;
    background-image: url("images/coffee.jpg");
    background-repeat: no-repeat;
    background-size: 1280px;
    background-position: center center;
    min-height: 900px;
    text-align: center;
    color: white;
    margin: 0;}
  

.paragraph-text {
    color:black;
    font-size: 40px;
    text-align: center;
    padding: 100px;}
    
/*Footer*/
footer {
    background-color: #000000;
    padding: 75px;}
    

.left-box-text {
    background-color: #000000;
    color:white;
    width: 400px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
    padding: 20px 20px 50px 20px;
    text-align: left;
    font-size: 16px;
}