@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');


/*General styling */

body {
    background: white;
    font-family: 'khula';
    margin: 0;
}

/*Navigation */

.main-nav {
    background-color: rgba(0, 0, 0, 0.90);
    font-size: 16px;
    text-align: center;
    position: fixed;
    width: 100%;
  
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
}


.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.90);
    color: #e7bc71;}



.hero {
    color: #fffff;
    background-image: url('images/home_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    text-align: center;
    color: white;
}


.hero-h1 {
    margin: 0;
    padding-top: 100px;
}

.main-content {
    text-align: center;
}

.banner-one {
    background-color: #fffff;
    background-image: url("images/mountains-red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    text-align: center;
    color: white;
}
  




.paragraph-text {
    padding: 50px;
    text-align: left; 
}