body, html {
  margin: 0;
  font-family: arial, sans-serif;
  text-align: center;
}
h1 {
  background-color: #d44413;
  color: #fff;
  margin: 0;
  font-weight: normal;
  padding: 10px 20px;
}
h2 {
  border-top: 1px solid #aaa;
  padding-top: 20px;
  margin: 50px 20px 0px 20px;
}

img {
  margin: 20px;
  border: 1px solid #ddd;
  min-height: 400px;
  min-width: 400px;
}

a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
   border: 1px solid rgba(255, 255, 255, 0);
   padding: 10px 20px 10px 20px;
   border-radius: 5px;
   text-transform: uppercase;
   margin: 0 30px;
   letter-spacing: 0.2em;
   transition: all .5s ease;
}

.large:hover
color: pink;


a:hover {
  border-color: white;
  background-color: rgba(0, 0, 0, 0.2);
}